@using Microsoft.AspNet.Identity

@{
            string cartLink = "0";
            if (Session["Cart"] != null)
            {
                cartLink = (Session["Cart"] as SportShopProject.Models.Order).OrderedProducts.Count.ToString();
            }
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li class="preCartLink"><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
        <li class="cartLink">@Html.ActionLink("Корзина", "Index", "Cart", null, new { @class = cartLink == "0" ? "" : "cartSup", cartCount = cartLink })</li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="preCartLink">@Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

        <li class="cartLink">@Html.ActionLink("Корзина", "Index", "Cart",null , new { @class = cartLink == "0" ? "" : "cartSup", cartCount = cartLink })</li>
    </ul>
}
